<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Music Store</title>
    <link href="../Styles/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="jumbotron col-md-12">
                <h1>Music Store</h1>
            </div>

            <div class="col-md-3">
                <img src="../imgs/Album.gif" class="img-responsive"/>
            </div>

            <div class="col-md-9">
                <h2>Album Title</h2>
                <h2>Artist</h2>
                <p>
                    fa s fds fd saf as f gj;erojgo;ij gorjbojfl
                    ;dkbj;lsdjviozjal;sjdljf;aosidj;lzsj vl;z
                    kdvjl;zjoijf;jalk;jfl;as jdf;ljasl;df asjlk;fjl;asfj
                    fa s fds fd saf as f gj;erojgo;ij gorjbojfl
                    ;dkbj;lsdjviozjal;sjdljf;aosidj;lzsj vl;z
                    kdvjl;zjoijf;jalk;jfl;as jdf;ljasl;df asjlk;fjl;asfj
                    fa s fds fd saf as f gj;erojgo;ij gorjbojfl
                    ;dkbj;lsdjviozjal;sjdljf;aosidj;lzsj vl;z
                    kdvjl;zjoijf;jalk;jfl;as jdf;ljasl;df asjlk;fjl;asfj
                    fa s fds fd saf as f gj;erojgo;ij gorjbojfl
                    ;dkbj;lsdjviozjal;sjdljf;aosidj;lzsj vl;z
                    kdvjl;zjoijf;jalk;jfl;as jdf;ljasl;df asjlk;fjl;asfj
                </p>
            </div>
        </div>
    </div>
</body>
</html>
